html, body {
    height: 100%;
    margin: 0px;
}
.jumbotron {
    height: 100%;
    background-image: url('../../dashboard/image/wallpaper_city.jpg');
    background-size: cover;
    padding-top: 200px;
}
.sol-item {
    background: url('../../dashboard/image/anime-bg.jpg');
    background-size: cover;
    height: 20vw;
    position: relative;
}
.sol-overlay {
    position: absolute;
    left: 0;bottom: 0;right: 0;top: 0;
    background: #000;
    opacity: 0.3;
}
.sol-capt {
    position: absolute;
    top: 50%;left: 0;right: 0;
    transform: translateY(-50%);
}
.sol-capt i {
    font-size: 50px;
    color: rgba(255, 255, 255, 1.0)
}
.sol-capt p {
    font-size: 30px;
    color: rgba(255, 255, 255, 1.0)
}